* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 11px;
}

/* HEADER */
header {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3% 10%;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

/*----------LOGO---------*/
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
    width: 9.375rem;
}

/*------- MENÚ -------*/
.menu{
    height: 100%;
}
.menu>ul {
    list-style: none;
    height: 100%;
}

.menu>ul>li {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    font-weight: 700;
    position: relative;
    height: 100%;
}

.submenu {
    align-items: center;
    background-color: #F3613C;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    height: 25vh;
    justify-content: space-around;
    list-style-type: none;
    position: fixed;
    top: 2rem;
    width: 40vw;
    right: 0;
    visibility: hidden;
    z-index: 2;
}

.submenu a {
    color: white
}

.menu>ul>li:hover .submenu {
    background-color: #F3613C;
    right: 0;
    transition: 0.4s;
    top: 6rem;
    transition-timing-function: ease;
    visibility: visible;
    z-index: 2;
}

/* MAIN */
main,
main>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {
    background-color: #F3603B;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    height: 2.5rem;
    margin: 0.5rem;
    width: 8.3rem;
}
.desktop{
    display: none;
}

/* Bloques */
main>div>section {
    width: 80vw;


}

/*---------CONTAINER1 IMAGEN ----------*/
.container-1 img {
    width: 100%;
    height: 100%;


}

.container-2,
.container-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.container-2>div,
.container-3>div {
    display: flex;
    justify-content: center;
}

.container-2 div h2,
.container-3 div h3,
.container-5 h3 {
    color: #232C50;
    font-size: 3.7rem;
    font-weight: 700;
    text-align: center;
}

.container-2 div p,
.container-3 div p,
.container-4 p {
    width: 70%;
    font-size: 1.3rem;
    font-weight: 400;
    color: #B3B2B7;
    text-align: justify;
    margin: 0.5rem 0rem;
    line-height: 2rem;
}

.container-3 {
    padding: 2rem 0rem;
}

.container-3 div h3 {
    width: 70%;
    font-size: 2.2rem;
}

.container-3 div p {
    font-size: 1.1rem;
}

.container-4>div {
    margin: 2rem 0rem;
}

.uno,
.dos,
.tres {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5em;

}

.uno h4,
.dos h4,
.tres h4 {
    position: relative;
    right: 1.4rem;
    color: #232C50;
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.5rem;
    background-color: rgba(254, 228, 221, 0.5);
    padding-left: 2rem;
    font-size: 1rem;
}

.num {
    z-index: 1;
    width: 5.5rem;
    border-radius: 14;
    font-weight: 700;
    cursor: auto;
    box-shadow: none;
}

.container-4 p {
    font-size: 1.1rem;
    width: 100%;
}

.container-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container-5 img {
    top: -1.8rem;
    height: 5rem;
    width: 5rem;
    position: absolute;
}

.container-5 h3 {
    padding: 1rem 0rem 5rem 0rem;
    font-size: 2.2rem;
}

.container-5>div>article {
    position: relative;
    padding: 3rem 3rem 1rem 3rem;
    margin-bottom: 1rem;
    background-color: #FAFAFA;
    width: 28rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatar {
    padding-top: 1rem;
    color: #232C50;
    font-weight: 700;
    font-size: 1rem;
}
.personas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.anisha, .shanai{
    visibility: collapse;
}
.descripcion {
    font-size: 1rem;
    color: #B9B9C1;
    font-weight: 600;
}

/*---------- SECTION NARANJA --------- */
.container-6 {
    background-color: #F3613C;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25rem;
    padding: 4rem 0rem;
}

.container-6 p {
    width: 70%;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.01rem;
}

/*button*/
.blanco {
    background-color: #FFFFFF;
    color: #F3603B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

/*----------- FOOTER ---------------*/
/*--------- BARRA DE BÚSQUEDA ------*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    background-color: #1E1E26;
    height: 35rem;
}

.search {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 2rem;

}

footer input {
    width: 60%;
    height: 3rem;
    border-radius: 15px;
    border: none;
}

footer input::placeholder {
    font-size: 0.8rem;
    text-align: left;
    text-align: center;
}

/*----------------- FOOTER NAVBAR ------*/
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 4rem;
    width: 100%;
    align-items: center;
}

.navbar li {
    color: #FFFFFF;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    list-style-type: none;
}


/*--------- ICONOS ----------*/
.iconos {
    width: 9.375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.1rem;
}

.iconos img {
    width: 1rem;
    height: 1rem;
}

/*-------- LOGO ---------*/
footer>div>p {
    font-size: 0.75rem;
    text-align: center;
    color: #B9B9C1;
}




@media (min-width:800px) {
    html {
        font-size: 16px;
    }

    /******** HEADER ********/
    header,main {
        padding: 2% 10%;
        position: static;
    }
    header>nav>ul>li {
        visibility:collapse;
        display: flex;
        align-items: center;
    }
    header>nav{
        width: 50%;
    }
    .submenu {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        font-weight: 400;
        height: 100%;
        justify-content: space-around;
        list-style-type: none;
        position:static;
        top: auto;
        width: 100%;
        visibility: visible;
        z-index: 0;
        background-color: transparent;
    }
    .submenu a{
        color:#242E52;
    }
    .submenu>li{
        padding-right: 0.5rem;
    }
    .desktop{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .menu>ul>li:hover .submenu{
        background-color: transparent;
        right: 0;
        transition: 0.4s;
        top: 0;
        transition-timing-function: ease;
        visibility: visible;
        z-index: 0;
    }
    /************* MAIN **********/


    .contenedor-principal {
        padding-top: 5rem;
        justify-content: space-between;
    }

    .container-2 {
        order: -1;
        padding-top: 4rem;
        align-items: flex-start;
    }
    .container-2 div,
    .container-3 div{
        justify-content: flex-start;
    }
    .container-2 div h2,
    .container-2 div p,
    .container-3 div h3,
    .container-3 div p{
        text-align:left;
        align-items: left;
    }
    #container__2{
        padding-left: 0.3rem;
    }
    .container-3{
        align-items: left;
        justify-content: flex-start;
        padding-top:6rem ;
        
    }
    .container-3 div p{
        color:#000000;
    }
    .container-4{
        padding-top: 4.5rem;
    }
    .container-6{
        flex-direction: row;
        padding: 0 0rem;
        height: 15rem;
    }
    .container-6 p{
        width: 30%;
        text-align: left;
    }

    /******** AVATARES *********/

    .container-5>div>article {
        padding: 3rem 5% 1rem 5%;
        width: 35rem;
    }
    .anisha, .shanai{
        visibility: visible;
    }
    .personas{
        display: flex;
        justify-content: space-between;
    }

    /*************** FOOTER **********/
    footer{
    position: relative;
    height: 16rem;
    padding: 0;
    }
    .search{
        position:absolute;
        right: 15%;
        top: 20%;
        padding: 0;
    }
    .button .num{
        margin: 0;
    }
    .search>button{
        cursor:pointer
    }
    footer>div>p{
        font-size: 0.9rem;
        position: absolute;
        bottom: 20%;
        right: 16%;
    }
    #logo2{
        position: absolute;
        left: 15%;
        top:20%;
    }
    .iconos{
        position: absolute;
        padding: 0;
        left: 14.5%;
        bottom: 25%
    }
    .navbar{
        padding:0;
        position: absolute;
        left: 30%;
        top: 20%;
        width: 30%;
        align-items: flex-start;
    }
    .navbar li{
        padding-top: 0;
        padding-bottom: 1rem;
    }
    main>div>section {
        max-width: 40%;
    }
}