* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* Se colocó font-size: 11px, para tomar como referencia el HTML y usar rem, luego en media queries se modifica valor a 16px */
html {
    font-size: 11px;
}
/* HEADER */
header {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3% 10%;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

/*----------LOGO---------*/
.logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    width: 9.375rem;
}

/*------- MENÚ -------*/
.menu {
    height: 100%;
}

.menu>ul {
    height: 100%;
    list-style: none;
}

.menu>ul>li {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    font-weight: 700;
    height: 100%;
    position: relative;
}
/* ------- SUB MENÚ ------ */
.submenu {
    align-items: center;
    background-color: #F3613C;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    height: 25vh;
    justify-content: space-around;
    list-style-type: none;
    position: fixed;
    top: 2rem;
    width: 40vw;
    right: 0;
    visibility: hidden;
    z-index: 2;
}

.submenu a {
    color: white
}
.submenu li:hover{
    transform: scale(1.3);
}
/* Menú desplegable al pasar el cursos por el ícono de hamburguesa */
.menu>ul>li:hover .submenu {
    background-color: #F3613C;
    right: 0;
    transition: 0.4s;
    top: 3.3rem;
    transition-timing-function: ease;
    visibility: visible;
    z-index: 2;
}

/* MAIN */
main,
main>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* --- BOTONES: Se aplican propiedades genéricas y, luego, se modifican algunas según el tipo de botón ---- */
.button {
    background-color: #F3603B;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    height: 2.5rem;
    margin: 0.5rem;
    width: 8.3rem;
}
/* Botón que solo aparece en la versión desktop */
.desktop {
    display: none;
}

/* Bloques */
main>div>section {
    width: 80vw;
}

/*---------CONTAINER1 IMAGEN ----------*/
.container-1{
    display: flex;
    justify-content: center;
}
.container-1 img {
    width: 90%;
    height: 90%;
}
/* Bloques con propiedades compartidas, luego se modifican algunas según sea necesario */

.container-2,
.container-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-2>div,
.container-3>div {
    display: flex;
    justify-content: center;
}

.container-2 div h2,
.container-3 div h3,
.container-5 h3 {
    color: #232C50;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.container-2 div p,
.container-3 div p,
.container-4 p {
    color: #B3B2B7;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 0.5rem 0rem;
    text-align: justify;
    width: 70%;
}

/* Container-3  */
.container-3 {
    padding: 2rem 0rem;
}

.container-3 div h3 {
    font-size: 2.2rem;
    width: 70%;
}

.container-3 div p {
    font-size: 1.1rem;
}

/* Container-4  */
.container-4>div {
    margin: 2rem 0rem;
}
.container-4 p {
    font-size: 1.1rem;
    width: 100%;
}

/* Lista numerada, se aplica primero la estructura de los bloques en los div, y luego a cada h4 */
.uno,
.dos,
.tres {
    align-items: center;
    display: flex;
    height: 2.5em;
    justify-content: flex-start;
    width: 100%;
}

.uno h4,
.dos h4,
.tres h4 {
    align-items: center;
    background-color: rgba(254, 228, 221, 0.5);
    color: #232C50;
    display: flex;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 2rem;
    position: relative;
    right: 1.4rem;
    width: 100%;
}
/* Botones numerados: Se tomaron las propiedades de la clase .button, y se agregaron y/o modificaron otras */
.num {
    box-shadow: none;
    border-radius: 14;
    cursor: auto;
    font-weight: 700;
    width: 5.5rem;
    z-index: 1;
}

/* Container-5 */
.container-5 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.container-5 img {
    height: 5rem;
    position: absolute;
    top: -1.8rem;
    width: 5rem;
}

.container-5 h3 {
    font-size: 2.2rem;
    padding: 1rem 0rem 5rem 0rem;
}
/*Elemento padre, para luego distribuir los bloques correctamente*/
.personas {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
/* Solo se le aplican estas propiedades a la clase .ali, para no aplicarle a todos los avatares, ya que de hacerlo, se crea un
margen blanco a la derecha */
.ali {
    align-items: center;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding: 3rem 3rem 1rem 3rem;
    position: relative;
    width: 28rem;


}
/*Estilos del nombre de cada avatar y su descripción */
.avatar {
    color: #232C50;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1rem;
}
.descripcion {
    color: #B9B9C1;
    font-size: 1rem;
    font-weight: 600;
}
/* Se coloca display:none para que no aparezcan en la versión mobile*/
.anisha,
.shanai {
    display: none;
}

/*---------- SECTION NARANJA --------- */
.container-6 {
    align-items: center;
    background-color: #F3613C;
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 4rem 0rem;
    width: 100%;
}

.container-6 p {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.01rem;
    text-align: center;
    width: 70%;
}

/* Se toman las propiedades de la propiedad button y se modifican y/o agregan otras */
/*button*/ .blanco {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #F3603B;

}

/*----------- FOOTER ---------------*/
footer {
    align-items: center;
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 35rem;
    justify-content: space-around;
    padding-top: 2rem;
}
/*--------- BARRA DE BÚSQUEDA ------*/
.search {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0rem 2rem;
    width: 20rem;
}

footer input {
    border: none;
    border-radius: 15px;
    height: 3rem;
    width: 60%;
}

footer input::placeholder {
    font-size: 0.8rem;
    text-align: center;
}

/*----------------- FOOTER NAVBAR ------*/
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 4rem;
    width: 100%;
}

.navbar li {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    list-style-type: none;
    padding-top: 1rem;
}


/*--------- ICONOS ----------*/
.iconos {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.1rem;
    width: 9.375rem;
}

.iconos img {
    height: 1rem;
    width: 1rem;
}

/*-------- LOGO ---------*/
footer>div>p {
    color: #B9B9C1;
    font-size: 0.75rem;
    text-align: center;
}

/* MEDIA QUERIES */

@media (min-width:1440px) {
    html {
        font-size: 16px;
    }

    /******** HEADER ********/
    header,
    main {
        padding: 2% 10%;
        position: static;
    }
    /* Se da un valor máximo para el ancho de cada bloque dentro del main */
    main>div>section {
        max-width: 40%;
    }
    /* Se le da un ancho menor al contenedor padre para que los list items se alineen con una referencia más corta */
    header>nav {
        width: 50%;
    }

    /*Se oculta menú hamburguesa */
    header>nav>ul>li {
        align-items: center;
        display: flex;
        visibility: collapse;
    }

    .submenu {
        align-items: center;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        font-weight: 400;
        height: 100%;
        justify-content: space-around;
        list-style-type: none;
        position: static;
        top: auto;
        width: 100%;
        visibility: visible;
        z-index: 0;

    }

    .submenu a {
        color: #242E52;
    }

    .submenu>li {
        padding-right: 0.5rem;
    }
    .submenu li:hover{
        transform: scale(1.3) ease;
    }
    /* Se visibiliza el boton en la version desktop */
    /*.button */.desktop {
        align-items: center;
        display: flex;
        justify-content: center;
    }
/* Se deshabilita la función del cursos sobre el menú hamburguesa */
    .menu>ul>li:hover .submenu {
        background-color: transparent;
        right: 0;
        transition: 0.4s;
        top: 0;
        transition-timing-function: ease;
        visibility: visible;
        z-index: 0;
    }

    /************* MAIN **********/


    .contenedor-principal {
        justify-content: space-between;
        padding-top: 5rem;
    }

    /* Contenedores con estilos compartidos */
    .container-2 div,
    .container-3 div {
        justify-content: flex-start;
    }

    .container-2 div h2,
    .container-2 div p,
    .container-3 div h3,
    .container-3 div p {
        align-items: left;
        text-align: left;
    }

    /* CONTAINER 2 */
    #container__2 {
        padding-left: 0.3rem;
    }
    .container-2 {
        align-items: flex-start;
        order: -1;
        padding-top: 4rem;
    }
    .container-2 div h2{
        font-size: 4rem;
    }

    /* CONTAINER 3 */
    .container-3 {
        align-items: left;
        justify-content: flex-start;
        padding-top: 6rem;
    }

    .container-3 div p {
        color: #000000;
    }

/* CONTAINER 4 */
    .container-4 {
        padding-top: 4.5rem;
    }

    /* CONTAINER 6 */
    .container-6 {
        flex-direction: row;
        height: 15rem;
        padding: 0 0rem;
    }

    .container-6 p {
        text-align: left;
        width: 30%;
    }

    /******** AVATARES *********/

    .container-5>div>article {
        align-items: center;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1rem;
        height: 15rem;
        padding: 3rem 5% 1rem 5%;
        position: relative;
        width: 35rem;
    }
    /* Se visibilizan los demás avatares */
    .anisha,
    .shanai {
        display: flex;
    }

    .personas {
        justify-content: space-between;
        display: flex;
        
    }

    /*************** FOOTER **********/
    footer {
        height: 16rem;
        padding: 0;
        position: relative;
    }
    /* Barra de búsqueda */
    .search {
        padding: 0;
        position: absolute;
        right: 15%;
        top: 20%;
    }

    .button .num {
        margin: 0;
    }
    /* Para que cambie el tipo de cursar al posarse sobre el button*/
    .search>button {
        cursor: pointer
    }
    /* Copyrigth */
    footer>div>p {
        bottom: 20%;
        font-size: 0.9rem;
        position: absolute;
        right: 16%;
    }
    /*Logo footer */
    #logo2 {
        left: 15%;
        position: absolute;
        top: 20%;
    }

    .iconos {
        bottom: 25%;
        left: 14.5%;
        padding: 0;
        position: absolute;        
    }

    .navbar {
        align-items: flex-start;
        left: 30%;
        padding: 0;
        position: absolute;
        top: 20%;
        width: 30%;
    }

    .navbar li {
        padding-bottom: 1rem;
        padding-top: 0;
    }

    
}

@media (min-width:800px) and (max-width:1440px) {
    main>div>section {
        max-width: 55%;
    }
    /*Se oculta menú hamburguesa */
    header>nav>ul>li {
        align-items: center;
        display: flex;
        visibility: collapse;
    }

    .submenu {
        align-items: center;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        font-size: 1.1rem;
        font-weight: 400;
        height: 100%;
        justify-content: space-between;
        list-style-type: none;
        position: static;
        top: auto;
        width: 100%;
        visibility: visible;
        z-index: 0;

    }

    .submenu a {
        color: #242E52;
    }

    .submenu>li {
        padding-right: 1rem;
    }
    /* Se visibiliza el boton en la version desktop */
    /*.button */.desktop {
        align-items: center;
        display: flex;
        justify-content: center;
    }
/* Se deshabilita la función del cursos sobre el menú hamburguesa */
    .menu>ul>li:hover .submenu {
        background-color: transparent;
        right: 0;
        transition: 0.4s;
        top: 0;
        transition-timing-function: ease;
        visibility: visible;
        z-index: 0;
    }

    .container-2 div h2{
        font-size: 4rem;
    }

    /* Se achica la altura del contenedor 6, el último antes de llegar al footer*/
    .container-6{
        height: 15rem;
    }
    /*Se achica la altura del footer */
    footer{
        height: 22rem;
    }
}